/*

0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components

*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.mb-8 {
  margin-bottom: 8rem !important;
}

.load-hidden {
  visibility: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-weight: 700;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 37.5em) {
  .section-title {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: #272341 !important;
}

.text-color-main {
  color: #00cdac;
  -webkit-text-fill-color: #00cdac;
}

@supports (background-clip: text) {
  .text-color-main {
    background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@media (max-width: 37.5em) {
  .text-color-main {
    background-image: none;
    -webkit-text-fill-color: #00cdac;
  }
}

.text-color-main:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

.cta-btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

/* Hero Style */
.cta-btn--hero {
  color: #00cdac;
  -webkit-text-fill-color: #00cdac;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
     border-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
  border-image-slice: 1;
}

@supports (background-clip: text) {
  .cta-btn--hero {
    background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .cta-btn--hero {
    color: #00cdac !important;
  }
  .cta-btn--hero:hover {
    color: #fff !important;
  }
}

@media (max-width: 37.5em) {
  .cta-btn--hero {
    background-image: none;
    border: 2px solid #00cdac;
    -webkit-text-fill-color: #00cdac;
  }
}

.cta-btn--hero::after {
  background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
}

@media (max-width: 37.5em) {
  .cta-btn--hero::after {
    background-image: none;
  }
}

.cta-btn--hero:hover {
  -webkit-text-fill-color: #fff;
  text-decoration: none;
}

@media (max-width: 37.5em) {
  .cta-btn--hero:hover {
    -webkit-text-fill-color: #00cdac;
  }
}

.cta-btn--hero:hover::after {
  width: 100%;
}

/* Resume Style */
.cta-btn--resume {
  color: #fff;
  border: 2px solid #fff;
}

.cta-btn--resume::after {
  background: #fff;
}

.cta-btn--resume:hover {
  color: #00cdac;
  text-decoration: none;
}

.cta-btn--resume:hover::after {
  width: 100%;
}

/* Arrow Button */
.up i {
  color: #272727;
}

.footer {
  background-color: #454545;
  color: #fff;
  padding: 14px 16px;
}

@media (max-width: 37.5em) {
  .footer {
    border: 0px;
  }
}

.back-to-top i {
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.back-to-top i:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #02aab0;
}

section {
  padding: 5rem 0rem;
}

@media (max-width: 37.5em) {
  section {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#about {
  background-color: #02aab0;
  background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
  color: #fff;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

@media (max-width: 75em) {
  #about {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }
}

@media (max-width: 37.5em) {
  #about .about-wrapper {
    padding-bottom: 5rem;
  }
}

#about .about-wrapper__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 75em) {
  #about .about-wrapper__image {
    height: 100%;
  }
}

@media (max-width: 48em) {
  #about .about-wrapper__image {
    padding-bottom: 6.4rem;
  }
}

#about .about-wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 48em) {
  #about .about-wrapper__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#about .about-wrapper__info-text {
  text-align: left;
}

@media (max-width: 56.25em) {
  #about .about-wrapper__info-text {
    text-align: left;
  }
}

@media (max-width: 48em) {
  #about .about-wrapper__info-text {
    text-align: center;
  }
}

@media (max-width: 22em) {
  #about .about-wrapper__info-text {
    font-size: 1.2rem;
  }
}

#about .about-wrapper__info-text--important {
  background: #00c8a8;
  display: inline-block;
  font-style: italic;
  padding: 0 0.3rem;
  margin: 0.3rem 0;
  line-height: 1.6;
}

@media (max-width: 37.5em) {
  #about .about-wrapper__info-text--important {
    display: inline;
    margin: 0;
    padding: 0;
    background: transparent;
    font-style: normal;
  }
}

@media (max-width: 31em) {
  #about .about-wrapper__info .no-mobile {
    display: none;
  }
}

@media (max-width: 22em) {
  #about .about-wrapper .cta-btn {
    font-size: 1.2rem;
  }
}

* {
  padding: 0;
  margin: 0;
}

#contact {
  background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
  overflow: hidden;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

@media (max-width: 75em) {
  #contact {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }
}

.section-title {
  color: #fff;
  padding: 5rem;
}

.contact-wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Begin Left Contact Page */
.form-horizontal {
  max-width: 450px;
  display: inline-block;
  font-size: 1.6rem;
}

input, textarea {
  color: #272341;
}

input:focus, textarea:focus {
  color: #272341;
}

.form-control, textarea {
  max-width: 450px;
  width: 400px;
  background-color: #fff;
  color: #272341;
  border-radius: 0;
  font-size: 1.6rem;
}

.form-control:focus, textarea:focus {
  border-color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  border-radius: 0;
  background: transparent;
  font-size: 1.6rem;
}

.send-button::after {
  background: #fff;
}

.send-button:hover {
  color: #00cdac;
  text-decoration: none;
  background: #fff;
  border: 2px solid #fff;
}

.send-button:hover::after {
  width: 100%;
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 450px;
  float: right;
}

@media (max-width: 31em) {
  .direct-contact-container {
    max-width: 380px;
  }
}

/* Location, Phone, Email Section */
.contact-list {
  list-style: none;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.list-item {
  line-height: 3;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-item .iconn {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 31em) {
  .list-item span {
    font-size: 1.5rem;
  }
}

.contact-text {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-left: 5px;
  vertical-align: middle;
  margin-left: 20px;
}

.contact-text a {
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list .teksti_icon {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #1b1b1b;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-align: center;
}

.social-media-list li i {
  margin-top: -5px;
  position: relative;
  vertical-align: middle;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
          transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
@media screen and (max-width: 780px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 350px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container, .form-wrapper {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  .name, .email, textarea {
    width: 280px;
  }
  .send-button {
    max-width: 340px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 350px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 345px) {
  .form-control, textarea, .send-button {
    max-width: 280px;
  }
}

#hero {
  min-height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0px;
  background: #fff;
  font-weight: 400;
  color: #272341;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */
}

@media (max-width: 37.5em) {
  #hero {
    padding: 0rem 1.6rem;
  }
}

#hero .hero-title {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 7.2rem;
  text-align: left;
}

@media (max-width: 75em) {
  #hero .hero-title {
    font-size: 4rem;
  }
}

@media (max-width: 56.25em) {
  #hero .hero-title {
    font-size: 3.6rem;
    text-align: center;
  }
}

@media (max-width: 37.5em) {
  #hero .hero-title {
    font-size: 3.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 22em) {
  #hero .hero-title {
    font-size: 2rem;
  }
}

@media (max-width: 31em) {
  #hero .hero-title {
    font-size: 2.8rem;
  }
}

#hero .hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 56.25em) {
  #hero .hero-cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#hero .hero-cta a {
  font-size: 2.4rem;
}

@media (max-width: 37.5em) {
  #hero .hero-cta a {
    font-size: 2rem;
  }
}

@media (max-width: 22em) {
  #hero .hero-cta a {
    font-size: 1.2rem;
  }
}

.topnav {
  overflow: hidden;
  background-color: #454545;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

@media (max-width: 31em) {
  .topnav {
    display: none;
  }
}

.topnav a {
  float: left;
  color: #fff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.6rem;
}

.topnav a:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #02aab0;
}

/*
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/
#projects {
  background-color: #fff;
  color: #272341;
  margin-top: -10rem;
  padding-top: 15rem;
}

@media (max-width: 75em) {
  #projects {
    margin-top: 0;
    padding-top: 5rem;
  }
}

#projects .project-wrapper {
  margin-bottom: 1rem;
}

@media (max-width: 37.5em) {
  #projects .project-wrapper {
    margin-bottom: 0rem;
  }
}

#projects .project-wrapper .row {
  margin-bottom: 8rem;
}

@media (max-width: 37.5em) {
  #projects .project-wrapper .row {
    margin-bottom: 4rem;
  }
}

#projects .project-wrapper__text {
  text-align: left;
}

@media (max-width: 37.5em) {
  #projects .project-wrapper__text {
    margin-bottom: 2.5rem !important;
  }
}

@media (max-width: 75em) {
  #projects .project-wrapper__text {
    margin-bottom: 4.8rem;
  }
}

#projects .project-wrapper__text-title {
  font-weight: bold;
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
}

@media (max-width: 37.5em) {
  #projects .project-wrapper__text-title {
    font-size: 2rem;
  }
}

#projects .project-wrapper__text p > a {
  color: #00cdac;
}

@media (max-width: 22em) {
  #projects .project-wrapper__text .mb-4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 22em) {
  #projects .project-wrapper__text .cta-btn {
    font-size: 1.2rem;
  }
}

#projects .project-wrapper__image {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 75em) {
  #projects .project-wrapper__image {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 22em) {
  #projects .project-wrapper__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#projects .project-wrapper__image .thumbnail {
  border: none;
  height: 320px;
  width: 640px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow, 0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  /*
        //900px
        @include respond(tab-port) {
          height: 320px - 64px;
          width: 640px - 128px;
        }
        */
}

@media (min-width: 112.5em) {
  #projects .project-wrapper__image .thumbnail {
    height: 320px;
    width: 640px;
  }
}

@media (max-width: 75em) {
  #projects .project-wrapper__image .thumbnail {
    height: 288px;
    width: 576px;
  }
}

@media (max-width: 48em) {
  #projects .project-wrapper__image .thumbnail {
    height: 224px;
    width: 448px;
  }
}

@media (max-width: 37.5em) {
  #projects .project-wrapper__image .thumbnail {
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 3.2rem;
    height: 192px;
    width: 384px;
  }
}

@media (max-width: 31em) {
  #projects .project-wrapper__image .thumbnail {
    height: 160px;
    width: 320px;
  }
}

@media (max-width: 22em) {
  #projects .project-wrapper__image .thumbnail {
    height: 128px;
    width: 256px;
  }
}

.thumb1 {
  background-image: url(../../assets/tankkauslogi.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.thumb2 {
  background-image: url(../../assets/spotify.png);
  background-size: 100% 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.thumb3 {
  background-color: #252525;
  background-image: url(../../assets/weather.png);
  background-size: 80% 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.thumb4 {
  background-color: #252525;
  background-image: url(../../assets/burgerclicker.png);
  background-size: 35% 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.wow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wow .skills-container {
  width: 200rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wow .skills-container .Front, .wow .skills-container .Back, .wow .skills-container .Tools {
  margin-bottom: 7rem;
}

.wow .skills-container i {
  font-size: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.skills_text {
  display: block;
  text-align: center;
  margin: 0px;
  margin-bottom: 8rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */