.footer {
  background-color: $dark-grey;
  color: $white-color;
  padding: 14px 16px;

  @include respond(phone) {
    border: 0px;
  }
}

.back-to-top i {
  color: $white-color;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.2, 1.2);
    color: $primary-color;
  }
}
