@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


* {
  padding: 0;
  margin: 0;
}

#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );  
  overflow: hidden;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  color: $white-color;
  font-size: $smaller-font-size;
  font-family: 'Montserrat', sans-serif;
  font-size: $default-font-size;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }
}

.contact-wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Begin Left Contact Page */
.form-horizontal {
  max-width: 450px;
  display: inline-block;
  font-size: $default-font-size;

}

.form-control, textarea {
  max-width: 450px;
  width: 400px;
  background-color: $white-color;
  color: #fff;
  border-radius: 0;
  font-size: $default-font-size;

  &:focus {
    border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  border-radius: 0;
  background: transparent;

  font-size: $default-font-size;
  
  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    background: $white-color;
    border: 2px solid $white-color;


    &::after {
      width: 100%;
    }
  }
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 450px;
  float: right;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list-item {
  line-height: 4;
  color: $white-color;
}

.contact-text {
  color: $white-color;
  font-size: 2rem;
}

.contact-text a {
  color: $white-color;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.contact-text {
  margin-left: 5px;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;

  i {
    margin-top: -5px;
    position: relative;
    vertical-align: middle;
  }
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

/* Begin Media Queries*/
@media screen and (max-width: 780px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 350px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  }

  .send-button {
    max-width: 340px;
  }
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 350px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 345px) {
  .form-control, textarea, .send-button {
    max-width: 280px;
  }
}