#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.4rem;
}

.feedback-input {
  color: #eeeded;
  font-weight:500;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #176f8f;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

@media screen and (max-width: 900px) {
  #info {
      width: 80vw;
      margin-left: 1vw;
      margin-right: 1vw;
  }
}

.feedback-input:focus {
  border:2px solid #00bbff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

button {
  background: transparent;
}