#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;

  // If want to set a background image on the hero section
  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 7.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2rem;
    }
    @include respond(mid-phone) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }

      @include respond(phone-xs) {
        font-size: 1.2rem;
      }
    }
  }
}

.topnav {
  overflow: hidden;
  background-color: $dark-grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;

  @include respond(mid-phone) {
    display: none;
  }
}

.topnav a {
  float: left;
  color: $white-color;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: $default-font-size;

  &:hover {
    transform: scale(1.2, 1.2);
    color: $secondary-color;
  }
}