#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 1rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }

      .mb-4 {
        @include respond(phone-xs) {
          font-size: 1.2rem;
        }
      }

      .cta-btn {
        @include respond(phone-xs) {
          font-size: 1.2rem;
        }
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }

      @include respond(phone-xs) {
        display: flex;
        align-items: center;
      }

      & .thumbnail {
        border: none;
        height: 320px;
        width: 640px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
          0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        //+1800px
        @include respond(big-desktop) {
          height: 320px;
          width: 640px;
        }

        //1200px
        @include respond(tab-land) {
          height: 320px - 32px;
          width: 640px - 64px;
        }

        /*
        //900px
        @include respond(tab-port) {
          height: 320px - 64px;
          width: 640px - 128px;
        }
        */

        //768px
        @include respond(tab-port-sm) {
          height: 320px - 96px;
          width: 640px - 192px;
        }

        //0 - 600px
        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
          height: 320px - 128px;
          width: 640px - 256px;
        }

        @include respond(mid-phone) {
          height: 320px - 160px;
          width: 640px - 320px;
        }
        @include respond(phone-xs) {
          height: 320px - 192px;
          width: 640px - 384px;
        }
      }
    }
  }
}

 .thumb1 {
  background-image: url(../../assets/tankkauslogi.png);
  background-size: 100% 100%;
  background-position: center; 
  background-repeat: no-repeat;
} 

.thumb2 {
  background-image: url(../../assets/spotify.png);
  background-size: 100% 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.thumb3 {
  background-color: rgb(37, 37, 37);
  background-image: url(../../assets/weather.png);
  background-size: 80% 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.thumb4 {
  background-color: rgb(37, 37, 37);
  background-image: url(../../assets/burgerclicker.png);
  background-size: 35% 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.wow {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column; 

  .skills-container {
  width: 200rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Front, .Back, .Tools {
    margin-bottom: 7rem;
  }
  
    i {
      font-size: 8rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

.skills_text {
  display: block;
  text-align: center;
  margin: 0px;
  margin-bottom: 8rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}